{% extends "bootstrap_5_layout.html" %}
{% set page_title = "Sandwiches Page" %}
{% set active_page = "sandwiches" %}

{% block content %}

    <h1>Sandwiches</h1>

    <p class="lead">This is the sandwiches page!!! You made it!!!!</p>

    {% if sandwiches|length > 0 %}

        <!--div class="container"-->
        <ol>
            {% for sandwich in sandwiches %}
                <li>{{ sandwich.name }} | {{ sandwich.price }} | {{ sandwich.filling }} | <a href="#" class="link-primary">{{ sandwich.photo }}</a></li>
            {% endfor %}
        </ol>
        <!--/div-->

    {% else %}

        <p>Oops, no sandwiches to eat.</p>

    {% endif %}

{% endblock %}